.bgblue {
    background: #007bff;
}

.bgindigo {
    background: #6610f2;
}

.bgpurple {
    background: #6f42c1;
}

.bgpink {
    background: #e83e8c;
}

.bgred {
    background: #dc3545;
}

.bgorange {
    background: #fd7e14;
}

.bgyellow {
    background: #ffc107;
}

.bggreen {
    background: #28a745;
}

.bgteal {
    background: #20c997;
}

.bgcyan {
    background: #17a2b8;
}

.bgwhite {
    background: #fff;
}

.bggray {
    background: #6c757d;
}

.bggray-dark {
    background: #343a40;
}

.bgprimary {
    background: #007bff;
}

.bgsecondary {
    background: #6c757d;
}

.bgsuccess {
    background: #28a745;
}

.bginfo {
    background: #17a2b8;
}

.bgwarning {
    background: #ffc107;
}

.bgdanger {
    background: #dc3545;
}

.bglight {
    background: #f8f9fa;
}

.bgdark {
    background: #343a40;
}

.cblue {
    color: #007bff;
}

.cindigo {
    color: #6610f2;
}

.cpurple {
    color: #6f42c1;
}

.cpink {
    color: #e83e8c;
}

.cred {
    color: #dc3545;
}

.corange {
    color: #fd7e14;
}

.cyellow {
    color: #ffc107;
}

.cgreen {
    color: #28a745;
}

.cteal {
    color: #20c997;
}

.ccyan {
    color: #17a2b8;
}

.cwhite {
    color: #fff;
}

.cgray {
    color: #6c757d;
}

.cgray-dark {
    color: #343a40;
}

.cprimary {
    color: #007bff;
}

.csecondary {
    color: #6c757d;
}

.csuccess {
    color: #28a745;
}

.cinfo {
    color: #17a2b8;
}

.cwarning {
    color: #ffc107;
}

.cdanger {
    color: #dc3545;
}

.clight {
    color: #f8f9fa;
}

.cdark {
    color: #343a40;
}

// fondos importados en sass
@mixin bgblue {
    background: #007bff;
}

@mixin bgindigo {
    background: #6610f2;
}

@mixin bgpurple {
    background: #6f42c1;
}

@mixin bgpink {
    background: #e83e8c;
}

@mixin bgred {
    background: #dc3545;
}

@mixin bgorange {
    background: #fd7e14;
}

@mixin bgyellow {
    background: #ffc107;
}

@mixin bggreen {
    background: #28a745;
}

@mixin bgteal {
    background: #20c997;
}

@mixin bgcyan {
    background: #17a2b8;
}

@mixin bgwhite {
    background: #fff;
}

@mixin bggray {
    background: #6c757d;
}

@mixin bggray-dark {
    background: #343a40;
}

@mixin bgprimary {
    background: #007bff;
}

@mixin bgsecondary {
    background: #6c757d;
}

@mixin bgsuccess {
    background: #28a745;
}

@mixin bginfo {
    background: #17a2b8;
}

@mixin bgwarning {
    background: #ffc107;
}

@mixin bgdanger {
    background: #dc3545;
}

@mixin bglight {
    background: #f8f9fa;
}

@mixin bgdark {
    background: #343a40;
}

// colores de letras importados de sass
@mixin cblue {
    color: #007bff;
}

@mixin cindigo {
    color: #6610f2;
}

@mixin cpurple {
    color: #6f42c1;
}

@mixin cpink {
    color: #e83e8c;
}

@mixin cred {
    color: #dc3545;
}

@mixin corange {
    color: #fd7e14;
}

@mixin cyellow {
    color: #ffc107;
}

@mixin cgreen {
    color: #28a745;
}

@mixin cteal {
    color: #20c997;
}

@mixin ccyan {
    color: #17a2b8;
}

@mixin cwhite {
    color: #fff;
}

@mixin cgray {
    color: #6c757d;
}

@mixin cgray-dark {
    color: #343a40;
}

@mixin cprimary {
    color: #007bff;
}

@mixin csecondary {
    color: #6c757d;
}

@mixin csuccess {
    color: #28a745;
}

@mixin cinfo {
    color: #17a2b8;
}

@mixin cwarning {
    color: #ffc107;
}

@mixin cdanger {
    color: #dc3545;
}

@mixin clight {
    color: #f8f9fa;
}

@mixin cdark {
    color: #343a40;
}